{% extends 'index.html' %} {% block content %}
<style>
  .set-center {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #annuler {
    margin-left: 20px;
  }
</style>
<div class="set-center">
  <div class="card mb-4 delete">
    <div class="card-header">Default Card Example</div>
    <div class="card-body">
      <center>
        <h1>Êtes-vous sûr de vouloir supprimer tous les étudiants</h1>
        <br />
        <form action="" method="post">
          {% csrf_token %}
          <input type="submit" value="OUI je suis sur" class="btn btn-danger" />
          <a
            href="{% url 'base:add_student' %}"
            class="btn btn-success"
            id="annuler"
            >Annuler</a
          >
        </form>
      </center>
    </div>
  </div>
</div>
{% endblock %}
